<h2>Add post</h2>

<form action="/new" method="POST" role="form">
  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Type post text here" rows="6"></textarea>
  </br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
